html {
    height: 100%;
    background-color: #202020;
    color: #fff;
}

body {
    margin: 0;
    height: 100%;
}


#screen-canvas {
    height: 576px; 
    width: 640px;
    /* Nearest neighbour scaling */
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}