html {
    height: 100%;
    background-color: #202020;
    color: #fff;
}

body {
    margin: 0;
    height: 100%;
}

.control-button {
    background-color: #474747;
    color: #ffffff;
    display: inline-block;
    border: none;
    padding: 0.5em 1em;
    margin: 0.5em;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 8px; 
    text-align: center;
    box-shadow: 4px 4px #000000;
    -webkit-tap-highlight-color: transparent;
}

/*
.control-button:active {
    box-shadow: 1px 1px #000000;
    transform: translateY(3px);
    transform: translateX(3px);
} 
*/

#debug-info {
    white-space: pre;
    font-family: monospace;
    padding: 0.5em;
}

#main {
    display: block;
    height: 100%;
    width: 100%;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
}

#header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    max-width: 640px;
}

h1 {
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 0.5rem;
}

#game-column {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#screen-canvas {
    /* Nearest neighbour scaling */
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    background-color: #353535;
    box-shadow: inset 0 0 15px #000000;
    border-radius: 3px; 
}

/* Resize screen after resolution */

@media only screen and (max-width: 480px) {
    #screen-canvas {
        width: 320px;
        height: 288px;
    }
    #game-column {
        width: 320px;
    }
}

@media only screen and (min-width: 480px) {
    #screen-canvas {
        width: 480px;
        height: 432px;
    }
    #game-column {
        width: 480px;
    }
}

@media only screen and (min-width: 640px) {
    #screen-canvas {
        height: 576px; 
        width: 640px;
    }
    #game-column {
        width: 576px;
    }
}

/* Mobile controls */

@media only screen and (min-width: 1025px) {
    #controls {
        visibility: hidden;
        height: 0;
    }
}

@media only screen and (max-width: 1025px) {
    #controls {
        visibility: visible;
        width: 100%;
    }
}

#controls-upper-row {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}

#controls-ab {
    margin-top: 2em;
    margin-right: 1em;
    position: relative
}

#btn-a {
    position: absolute;
    right: 0px;
    top: 0px;
}

#btn-b {
    position: absolute;
    right: 60px;
    top: 20px;
}

#controls-lower-row {
    margin-top: 7em;
    margin-left: 0;
    text-align: center;
}

#controls-arrows {
    margin-right: auto;
    margin-left: 1em;
    position: relative;
}

/* Position the gamepad */

#btn-arrow-left {
    position: absolute;
    left: 0px;
    top: 45px;
    width: 40px;
    height: 40px;
}

#btn-arrow-right {
    position: absolute;
    left: 90px;
    top: 45px;
    width: 40px;
    height: 40px;
}


#btn-arrow-up {
    position: absolute;
    left: 45px;
    top: 0px;
    width: 40px;
    height: 40px;
}


#btn-arrow-down {
    position: absolute;
    left: 45px;
    top: 90px;
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 480px) {
    #controls {
        font-size: 0.9em;
    }
    #controls-lower-row {
        margin-left: 8em;
    }
}

/* Load file dropdown */
.dropbtn {
    background-color: transparent;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 12px;
    font-size: 18px;
    margin: 0;
    /*border-radius: 8px;
    border: 2px solid white;*/
}

h2 {
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
}

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #585858;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    box-shadow: 3px black;
  }
  
  /* Links inside the dropdown */
.dropdown-content h3 {
    margin: 0;
    cursor: pointer;
}
  
.dropdown-content-btn {
    padding: 12px 8px;
    display: block;
    margin: 0;
    cursor: pointer;
}

.dropdown-content-btn:hover {
    background-color: #313131;
}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {color: rgb(197, 197, 197)}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: rgb(197, 197, 197)}